#footer {
    background: #000;
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    height: 50px;
}

#footer h1 {
    margin: 0;
}

#footer nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /*TOMA GAP*/
    list-style-type: none;
}